/* Root elements ==========================================================*/
:root {
    --sectionColor: rgba(96, 183, 242, 0.492);
    --headerColor:  rgb(63, 204, 98);
    --boxcolor: rgb(63, 204, 98);
}

/* Background =========================================================*/

body {
    background-color: rgb(47, 39, 107);
}

/* Navbar elements =========================================================*/
.navbar {
    background-color: var(--headerColor);
    padding: 5px;
}

.navbar ul li {
    list-style-type: none;
    display: inline;
    font-size: 24px;
}

.navbar ul li a{
    color: black;
    text-decoration: none;
    margin-right: 30px;
}

.navbar ul li a:hover{
    background-color: rgb(255, 221, 0);
    padding: 10px;
    border: black solid 3px;
    border-radius: 10px;
}

/* Opening Box 1 (Pic, Contact Info =======================================*/
/* Opening Title */
.title {
    background-color: var(--sectionColor);
    color: white;
    padding: 10px;
    font-size: 50px;
    text-align: center;
}

/* Box_intro */
.box_intro {
    display: flex;
    flex-wrap: wrap;
    background-color: var(--sectionColor);
    padding: 20px;
    color: black;
}

/* Brit Image */
.brit_pic {
    width: 300px;
    height: 500px;
    background-color: var(--boxcolor);
    padding: 10px;
}
/* Contact Information */
.openingBoxContact {
    margin-left: 40px;
    background-color: var(--boxcolor);
    padding: 10px;
}

.contactInfoUl li {
    list-style-type: none;
    margin-top: 15px;
}


/* Projects ==============================================================*/
.projects {
    background-color: var(--sectionColor);
    margin-top: 20px;
}

.projects .projectsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 20px;
}

.boxProjectIntro {
    background-color:rgb(63, 204, 98);
    padding: 10px;
}

.box_project {
    background-color: var(--boxcolor);
    padding: 10px;
    border: white 5px solid;
    border-radius: 10px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.box_project a:hover {
    background-color: yellow;
    padding: 10px;
}

.projectImg {
    width: 250px;
    height: 100px;
}

.projectImg:hover {
    width: 350px;
    height: 200px;
}

/* Biography ==============================================================*/
.biography {
    background-color: var(--sectionColor);
    padding: 30px;
    margin-top: 20px;
}

.biography h1 {
    background-color: var(--headerColor);
    padding: 10px;
}

.biography div {
    background-color: var(--boxcolor);
    padding: 10px;
}

.biography li {
    margin-top: 15px;
}

/* In Depth Projects ==============================================================*/
.projectsDesc {
    background-color: var(--sectionColor);
    padding: 10px;
    margin-top: 20px;
}

.projectsDesc h1 {
    background-color:rgb(63, 204, 98);
    padding: 10px;
}

.projectsDesc2 {
    background-color:rgb(63, 204, 98);
    padding: 10px;
}

.projectsDesc2 img {
    width: 50px;
    height: 50px;
}
.projectsDesc2 #firstproject {
    width: 100px;
    height: 100px;
}

/* Published ==============================================================*/
.published {
    background-color: var(--sectionColor);
    padding: 10px;
    margin-top: 20px;
}

.published h2, .published ul {
    background-color: rgb(63, 204, 98);
    padding: 10px;
}

.published ul li {
    list-style-type: none;
    margin-top: 10px;
}

.published li a {
    text-decoration: none;
}

.published li a:hover {
    text-decoration: none;
    color:rgb(255, 36, 222);
}

/* Footer ==============================================================*/
footer{
    background-color: var(--sectionColor);
    margin-top: 20px;
    padding: 10px
}

footer li {
    list-style-type: none;
    text-align: center;
    margin-top: 15px;
}

footer li, footer li a {
    color: white;
    text-decoration: none;
}

.toTop a:hover {
    font-size: 20px;
    color: rgb(255, 36, 222);
}